<div class="bottom-text no-select">
    <div class="bottom-text-text">
    {{bottom}}
    </div>
    <img src="images/hebrew.png" class="lng-thumb link-cursor" ng-click="lng(1)" tabindex="0"
    role="button" alt="על מנת להחליף את השפה לעברית לחצו כאן. תמונה של דגל ישראל. To change the language to Hebrew, click here. A picture of Israel's flag.">
    <img src="images/english.png" class="lng-thumb link-cursor" ng-click="lng(2)" tabindex="0"
    role="button" alt="To change the language to English, click here. A picture of United States of America's flag. על מנת להחליף את השפה לאנגלית לחצו כאן. תמונה של דגל ארצות הברית.">
</div>